@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* sheared related styles */
.btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* header styles */

/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: 3rem;
}

.bg-banner {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 50px;
}

.display {
    display: flex;
}

.text-gray {
    color: #424242;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.item {
    list-style: none;
    margin-right: 30px;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner {
    text-align: center;
}

.img {
    width: 70%;
}

.banner-container {
    margin-bottom: 50px;
}

.banner-heading {
    font-weight: bold;
    font-size: 4rem;
}

/* section styles */
.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.section {
    align-items: center;
}

.features {
    margin-left: 70px;
    max-width: 530px;
}

#quick {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

#of {
    color: #131313;
    font-size: 45px;
    font-weight: bold;
}

#our {
    color: #FF900E;
    font-weight: bold;
    font-size: 2.8rem;
}

.features-description {
    color: #727272;
    font-size: 1rem;
}
/* 2nd section styles */
#bord{
    border-left: 5px solid #FF900E ;
    padding-left: 20px;
}
.section-sub-title{
    color: #727272;
}
.card-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;

}
.feature-sub-title{
    color: #727272;
    margin-bottom: 0px;
}
.card-box{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.section-2{
    gap: 100px;
}
.badge{
    padding: 45px 42px;
}
.pic img{
    width: 100%;
}
/* fact related styles */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
}

.fact-card {
    border: 1px solid rgba(255, 144, 14, 1);
    width: 230px;
    height: 230px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #727272;
}

.features-description-2 {
    max-width: 530px;
    color: #727272;
}

.features-title-2 {
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

.our-Sponspors {
    text-align: center;
    /* margin-top: 80px;
    margin-bottom: 50px; */
    max-width: 542;
    margin: 50px auto;
}

.our-description {
    color: #727272;
    font-size: 1rem;
}
.images-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
.images-company img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .section,
    .section-2{
        flex-direction: column;
    }
    }
    .images,
    .fact-container,
    .images-company {
        grid-template-columns: 1fr;
    }

    .fact-container {
        gap: 24px;
    }
    .images-company{
        gap: 50px;
        justify-items: center;
    }

    .features {
        margin-left: 10px;
    }

/* medium media query */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .section, .section-2{
        flex-direction: column;
    }

    .features {
        margin: 50px auto;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .images-company{
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}